
PORT=3000

# JWT
JWT_SECRET=123123123asdasds

# Database
DATABASE_URL=mysql://root:intersnipe@localhost:3302/intersnipe

# DNS API Server
DNS_API_SERVER=http://localhost:3001
DNS_API_TOKEN=intersnipe

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=eu-west-2
AWS_BUCKET_NAME=